@media all and (min-width:576px) and (max-width:992px){
  .main{
    grid-template-columns: repeat(2, 49%);
    grid-gap:  1.3% 1.95%;
  }
  .spirit{
    display: block;
    height: 145px;
  }
}

@media all and (max-width:576px) {

  .main{
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 0.3%;
  }

  .main_item{
    height:300px;
    grid-template-columns: 1fr 60px;
    grid-template-rows: 1fr 1fr 35px 45px 15px;
  }

  .item_text{
    font-size: 16px;
  }

  .item_title{
    font-size: 20px;
    padding-bottom: 10px;
  }

  .spirit{
    display: block;
    height: 180px;
  }
}


@media all and (max-width: 768px) {
  .topnav a {display: none;
   }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .header_wrp{
    display: block;
    display:grid;
    grid-template-columns: 200px 250px 1px;
    grid-template-rows:  50px 1fr;
    justify-content: center;
  }

  .header_logo{
    grid-area:2 / 1 / 3 / 3;
  }

  #header_search{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 50px;
  }

  .nav_bar{
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 13px;
  }

  .header_social a {
    display: none;
  }

  .fa-briefcase-medical{
    font-size: 450px;
  }


  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
